@charset "utf-8";

body {
	margin: 0;
}

a:link {
	color: #F00;
	text-decoration: none;
}

a:visited {
	color: #800000;
	text-decoration: none;
}

a:hover {
	color: #008080;
	text-decoration: none;
}

a:active {
	color: #008000;
}

.selected {
	background: #F00;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.aligncenter {
	text-align: center;
}

.alignright {
	text-align: right;
}

#webclient {
	width: 100%;
	height: 100%;
}

#wrap {
	margin: 0px 0px;
	width: 100%;
	font-size: 14px;
	background: #EEE;
}

#title {
	height: 40px;
	background: #666;
	text-align: center;
}

#navi {
	margin: 0px 0px;
	min-height: 40px;
	width: 100% -5px;
	display: block;
	background: #CCC;
	padding: 0px 0px 0px 5px;
}

#toolbar {
	background: #AAA;
	margin: 5px 0px;
	height: 40px;
}

#client {
	min-height: 40px;
}

#title label {
	height: 40px;
	color: #FFF;
	background: #666;
	width: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#tabletitle {
	height: 40px;
	background: #EEE;
}

#tabletitle label {
	height: 40px;
	color: #000;
	background: #EEE;
	width: 98%;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

table {
	margin: 0px 0px;
	border-top: 1px dotted #3CF;
	border-left: 1px dotted #3CF;
}

td {
	height: 40px;
	border-bottom: 1px dotted #3CF;
	border-right: 1px dotted #3CF;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	text-indent: 2px;
	text-align: left;
}

th {
	height: 40px;
	border-bottom: 1px dotted #3CF;
	border-right: 1px dotted #3CF;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	text-indent: 2px;
	text-align: center;
}

.layouttable {
	border-top: 0px dotted #3CF;
	border-left: 0px dotted #3CF;
}

.layouttable td {
	border-bottom: 0px dotted #3CF;
	border-right: 0px dotted #3CF;
	text-align: center;
}

.navitable {
	width: 99.5%;
	margin: 0px 0px;
	border-top: 0px dotted #3CF;
	border-left: 0px dotted #3CF;
}

.navitable td {
	min-height: 40px;
	border-bottom: 0px dotted #3CF;
	border-right: 0px dotted #3CF;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	text-indent: 0px;
}

.navitable tr:hover {
	background: #CCC;
}

.contenttable table {
	border-top: 1px dotted #3CF;
	border-left: 1px dotted #3CF;
}

.contenttable td {
	border-bottom: 1px dotted #3CF;
	border-right: 1px dotted #3CF;
	text-indent: 0px;
	text-align: left;
}

.contenttable tr:hover {
	background: #FFF;
}

#naviItem, #naviItem input {
	height: 30px;
	min-width: 163px;
	display: inline-block;
	position: relative;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	background: #ddd;
	border: 1px solid #FFF;
	margin: 1px -3px;
	padding: 0px 0px;
}

#naviItem:hover, #naviItem input:hover {
	background: #FC0;
	text-decoration: none;
	border: 1px solid #FFF;
	text-decoration: none;
}

#naviItemMini {
	height: 30px;
	min-width: 80px;
	display: inline-block;
	position: relative;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	background: #ddd;
	border: 1px solid #FFF;
	margin: 1px -3px;
	padding: 0px 0px;
}

#naviItemMini:hover {
	background: #FC0;
	text-decoration: none;
	border: 1px solid #FFF;
	text-decoration: none;
}

#naviItemBig {
	height: 30px;
	min-width: 329px;
	display: inline-block;
	position: relative;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	background: #ddd;
	border: 1px solid #FFF;
	margin: 1px -3px;
	padding: 0px 0px;
}

#naviItemBig:hover {
	background: #FC0;
	text-decoration: none;
	border: 1px solid #FFF;
	text-decoration: none;
}

#toc {
	width: 100%;
	height: 40px;
	margin: 0px;
	border-bottom: 2px solid #F00;
}

#toc td {
	border-bottom: 1px solid #F00;
}

#toc label {
	color: black;
	height: 40px;
	min-width: 60px;
	margin: 0px;
	padding: 0px 10px;
	text-align: center;
}

#toc label:hover {
	background: #FC0;
	text-decoration: none;
}

#toc label:active {
	background: #F00;
}

#dlg {
	background: #EEE;
	border: 2px solid #666;
	position: absolute;
	display: none;
}

dlgtitle {
	margin: 0px 0px;
	height: 30px;
	width: 100%;
	font-size: 14px;
	background: #00F;
}

#dlgtitle label {
	height: 30px;
	width: 100%;
	color: #FFF;
	background: #00B;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

#dlgClient {
	background: #DDD;
}

#dlgOperation {
	background: #333;
	border: 1px solid #888;
}

#dlgOperation div {
	display: none;
}

/* #toolbar  tr td label { */
/* 	text-align: center; */
/* 	height: 30px; */
/* 	min-width: 80px; */
/* 	border: 1px double #F00; */
/* 	background: #CCC; */
/* 	font-size: 18px; */
/* 	line-height: 30px; */
/* 	font-weight: bold; */
/* } */

/* #toolbar tr td label:hover { */
/* 	background: #FC0; */
/* } */
label {
	font-size: 14px;
	min-width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	display: block;
	font-size: 14px;
	margin-left: 0px;
	margin-right: 0px
}

span {
	color: #F00;
	height: 30px;
	font-size: 14px;
	line-height: 28px;
	text-align: left;
	vertical-align: middle;
}

span label {
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	min-width: 50px;
	color: black;
}

textarea {
	min-width: 400px;
}

.btnLabel {
	border: 1px solid #000;
	background: #6CF;
	color: black;
	min-width: 60px;
	text-align: center;
	text-indent: 0px;
}

.btnLabel:hover {
	border: 1px solid #F00;
	background: #FFC;
	color: black;
	min-width: 60px;
	text-align: center;
}

.term {
	text-align: left;
	text-indent: 30px;
	line-height: 30px;
	font-size: 15px;
	white-space: normal;
}

.content {
	width: 100%;
	min-width: 40px;
	height: 100%;
	border-bottom: 1px solid #000;
	line-height: 30px;
	vertical-align: bottom;
	text-align: left;
	display: inline;
}